.copyRights{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 40%;
    font-family: cursive;
    font-size: medium
}
// .far{
//     color: black;
//     background-color: white;
// }
// .wrapperFooter{
//     background-color: deepskyblue;
// }