.currentFile{
    width: fit-content; 
    background-color:darkgray;
    display: contents;
     
}
.files-icon{
    background: unset;
}
l.custom-control-label{display:inline-block;
    width:100px;
    height:30px;
    color:white;
font-family:   Arial, sans-serif;
}
.mb-3{
    display:inline;
}
.jpg{
    color:red;
}
.word{
    color:blue;
}
.excell{
    color:green;
}